@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
     -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#works{
    display:block;
    overflow:auto;
    height:fit-content;
}



#works span:not(.yet):hover{
    background-color: rgba(0,255,0);
}



.yet{
    color: lightgray;
    text-decoration: line-through;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    background-color: rgba(0,255,0);
    cursor: pointer;
}


.linevertical1 {
    position: absolute;
    width: 100%;
    height: 470%;
    left: 28.6%;
    top: -100%;
    border-style: solid;
    border-color: #FA00FF;
    border-width: 0px 0px 0px 0.1px;
}

.mediaViewInfo {
    --web-view-name: Landing Page;
    --web-view-id: Landing_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Landing_Page;
}



svg {
    margin: -15px;
}

#Landing_Page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
/*    overflow: hidden;*/
    --web-view-name: Landing Page;
    --web-view-id: Landing_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Lines {
    z-index: 0;
    position: fixed;
    width: 1883.49px;
    height: 1080px;
    left: -0.49px;
    top: 0px;
}

#Linevertical1 {
    fill: transparent;
    stroke: rgba(255, 113, 250, 1);
    stroke-width: 0.30000001192092896px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Linevertical1 {
    overflow: visible;
    position: absolute;
    width: 0.3px;
    height: 3000px;
    left: 67px;
    top: -15px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Linevertical2 {
    fill: transparent;
    stroke: rgba(255, 113, 250, 1);
    stroke-width: 0.30000001192092896px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Linevertical2 {
    overflow: visible;
    position: absolute;
    width: 0.3px;
    height: 3000px;
    left: 480px;
    top: -15px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Linevertical3 {
    fill: transparent;
    stroke: rgba(255, 113, 250, 1);
    stroke-width: 0.30000001192092896px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Linevertical3 {
    overflow: visible;
    position: absolute;
    width: 0.3px;
    height: 3000px;
    right: 900px;
    top: -15px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#LineHeader {
    fill: transparent;
    stroke: rgba(255, 113, 250, 1);
    stroke-width: 0.30000001192092896px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.LineHeader {
    overflow: visible;
    position: absolute;
    width: 6000px;
    height: 0.3px;
    left: -40px;
    top: 50px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Sec02 {
    z-index: 999;
    position: fixed;
    width: 340px;
    height: 147px;
    left: 510px;
    top: 114px;
    overflow: visible;
}

#selectedworks {
    position: absolute;
    width: 336px;
    height: 147px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#yearSuperposition {
    left: 286px;
    top: 264px;
    position: absolute;
    overflow: visible;
    width: 41px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksSuperposition {
    left: 0px;
    top: 264px;
    position: absolute;
    overflow: visible;
    width: 84px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearTheWhiteWall {
    left: 296px;
    top: 244px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksTheWhiteWall {
    left: 0px;
    top: 244px;
    position: absolute;
    overflow: visible;
    width: 96px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearSuseok {
    left: 286px;
    top: 160px;
    position: absolute;
    overflow: visible;
    width: 41px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksSuseok {
    left: 0px;
    top: 160px;
    position: absolute;
    overflow: visible;
    width: 43px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearPortraits {
    left: 296px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 41px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksPortraits {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 53px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearFlyingBobs {
    left: 296px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksFlyingBobs {
    left: 0px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 180px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearAfterglow {
    left: 296px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksAfterglow {
    left: 0px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 61px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearDust {
    left: 296px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksDust {
    left: 0px;
    top: 00px;
    position: absolute;
    overflow: visible;
    width: 30px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#Sec01 {
    position: fixed;
    width: 400px;
    height: 1022px;
    left: 31px;
    top: 29px;
    overflow: visible;
    z-index: 999;
}

#footer {
    position: fixed;
    width: 147px;
    height: 100px;
    left: 31px;
    bottom: 35px;
    overflow: visible;
/*    border: 1px solid #000;*/
}

#footerfindme {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 52px;
    height: 14px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#footerloc {
    left: 0px;
    bottom: 0;
    position: absolute;
    overflow: visible;
    width: 120px;
    height: 14px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#footerinsta {
    left: 0px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 57px;
    height: 14px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#footernumber {
    left: 0px;
    top: 29px;
    position: absolute;
    overflow: visible;
    width: 104px;
    height: 14px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#footermail {
    left: 0px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 148px;
    height: 14px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#dsc {
    position: absolute;
    width: 403px;
    height: 267px;
    left: 0px;
    top: 85px;
    overflow: visible;
}

#dscko {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 404px;
    height: 105px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
    line-height: 20px;
}

#dscen {
    left: 0px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 404px;
    height: 128px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
    line-height: 19px
}

#header {
    position: absolute;
    width: 44px;
    height: 16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Headername {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 45px;
    height: 16px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#guide {
    position: absolute;
    width: 8px;
    height: 151px;
    left: 42px;
    top: 109px;
    display: none;
    overflow: visible;
}

#Rectangle_1 {
    opacity: 0.618;
    fill: rgba(56, 76, 183, 1);
}

.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 8px;
    height: 8px;
    left: 0px;
    top: 0px;
}

#Rectangle_2 {
    opacity: 0.618;
    fill: rgba(56, 76, 183, 1);
}

.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 8px;
    height: 8px;
    left: 0px;
    top: 143px;
}

#footer a {
    color: black;
    text-decoration: none
}

#worksbadedu {
    left: 0px;
    top: 200px;
    position: absolute;
    overflow: visible;
    width: 53px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearbadedu {
    left: 296px;
    top: 200px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearsejong {
    left: 296px;
    top: 220px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#workssejong {
    left: 0px;
    top: 220px;
    position: absolute;
    overflow: visible;
    width: 105px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksdd {
    left: 0px;
    top: 240px;
    position: absolute;
    overflow: visible;
    width: 240px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yeardd {
    left: 296px;
    top: 240px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

.imgs {
    display: block;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    border-bottom: 0.3px solid #000000;
}

#Sec03 {
    border-left: 0.3px solid #FF71fa;
/*    display: flex;*/
    position: absolute;
    background-color: rgba(255,0,0,0.01);
    position: absolute;
    width: calc(100vw - 915px);
    height: fit-content;
    right: 0px;
    top: 35px;
    font-size: 0;
}

#white {
    position: fixed;
    background-color: white;
    display: block;
    width: 90%;
    height: 34.5px;
    right: 0;
    z-index: 997;
}

.imgs_hori {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
/*    border-bottom: 0.3px solid #000000;*/
}

.imgs_vert {
    display: inline-block;
    position: relative;
    width: 50%;
    top: 0px;
    left: 0px;
/*    border-bottom: 0.3px solid #000000;*/
/*    border-right: 0.3px solid #000000;*/
}

.circle {
        margin: 0 auto;
        width: 4px;
        height: 0.1px;
        background-color: #000000;
        display: none; 
/*        border-radius: 50%;*/
}

#dots {
    position: fixed;
/*    border: 1px solid red;*/
    width: 10px;
    height: 221px;
    left: 495px;
    top: 118px;
}

.circle-wrap {
/*    background-color: rgba(0,255,0,1);*/
    margin: 0 auto;
    height: 14px;
    padding-top: 3px;
    margin-bottom: 6px;
}

.circle-wrap-blank {
/*    background-color: rgba(0,255,0,1);*/
    margin: 0 auto;
    height: 14px;
    padding-top: 3px;
    margin-bottom: 17px;
}

.circle-wrap-blank2 {
/*    background-color: rgba(0,255,0,1);*/
    margin: 0 auto;
    height: 14px;
    padding-top: 3px;
    margin-bottom: 20px;
}

.circle-current {
        margin: 0 auto;
        width: 4px;
        height: 1px;
        background-color: #000000;
/*        display: none; */
/*        border-radius: 50%;*/
}

#Sec02-1 {
    z-index: 999;
    position: fixed;
    width: 336px;
    height: 147px;
    left: 510px;
    top: 584px;
    overflow: visible;
/*    background-color: rgba(255,0,0,0.3);*/
}

.iframe {
    z-index: 999;
    display: inline-block;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    border-bottom: 0.3px solid #000000;
}

#link {
    text-decoration: none;
    color: black;
}

h3 {
    left: 0px;
    top: 112px;
    position: absolute;
    overflow: visible;
    width: 96px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

.imgs_tri {
        display: inline-block;
    position: relative;
    width: 33.333%;
    top: 0px;
    left: 0px;
/*
    border-bottom: 0.3px solid #000000;
    border-right: 0.3px solid #000000;
*/
}

#logo {
    font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue Bold", Icons;
    font-style: normal;
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 3.7rem;
    line-height: 1.1;
    color: rgba(0, 0, 0, 1);
    letter-spacing: -0.6rem;
}
}

.circle {
    
}

.circle {
    
}

#yearGlass {
    left: 296px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearCactus {
    left: 296px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearGemstone {
    left: 296px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearThrill {
    left: 296px;
    top: 100px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearConflict {
    left: 296px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearEcstasy {
    left: 296px;
    top: 140px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksCactus {
    left: 0px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 61px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksGlass {
    left: 0px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 61px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksGemstone {
    left: 0px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 61px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksThrill {
    left: 0px;
    top: 100px;
    position: absolute;
    overflow: visible;
    width: 61px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksConflict {
    left: 0px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 61px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksEcstasy {
    left: 0px;
    top: 140px;
    position: absolute;
    overflow: visible;
    width: 61px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}



hr {
    position: absolute;
    top: 350px;
    width: 100%;
    border: 0px;
    background-color: #ff71fa;
    height: 0.3px;
}

hr {
    
}

#divider_commercial {
    left: 0px;
    top: 284px;
    position: absolute;
    overflow: visible;
    width: 84px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#footeryoutube {
    left: 0px;
    top: 54px;
    position: absolute;
    overflow: visible;
    width: 104px;
    height: 14px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#workstable {
    left: 0px;
    top: 260px;
    position: absolute;
    overflow: visible;
    width: 240px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yeartable {
    left: 296px;
    top: 260px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#yearDrowning {
    left: 296px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 31px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#worksDrowning {
    left: 0px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 60px;
    height: 15px;
    text-align: left;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
}

#genrePortraits {
    right: 50px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 16px;
    height: 16px;
    background-color: black;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: white;
    border-radius: 50%;
    letter-spacing: 0.3px;
}

#worksetc {
    
}

#yearetc {
    right: 5px;
    top: 340px;
    position: absolute;
    overflow: visible;
    width: 180px;
    height: 15px;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.3px;
    /*    border: 1px solid black;*/
}
