@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap&subset=korean');

a{text-decoration: none;
  color: black;
 }

ul{
  width: 100px;
  font-family: 'arial';
  font-size: 12px;
  line-height: 2.5em;
  list-style-type: none;
  position: relative;
  left: 18px
}

.current{
  color: grey;
}

.other{
  color: black;
      }

.instagram{
  margin-top: 40px;}

.img01{
  position: relative;
  left: 500px;
  top: 40px;
}

.copyright{
  font-family:'arial';
  font-size: 11px;
  line-height: 2em;
  color: black;
  position: relative;
  top: 50px;
}

.description01{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: black;
  position: relative;
  top: 100px;
  left: 0px;
  letter-spacing: 5px;
  width: 200px;
}

.description02{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: black;
  position: relative;
  top: 100px;
  left: 0px;
  letter-spacing: 8px;
  width: 200px;
}

.instagram{
  position: relative;
  top: 10px;
}

.simpnav{
  position: absolute;
  top: 50px
}

.first{
  color: black;
}

.second{
  color: black;
}

.third{
  color: black;
}

#logo{
  width: 35%;
position: relative;
left: 25px;
top: 30px;
}

#grid{
  position: relative;
  left: 50px;
  display: grid;
  grid-template-columns: 500px 150px;
}

#contact{
  position: relative;
  left: 200px;
  top:70px;
}


#prev{
  width: 30px;
  position: relative;
  left:-2px;
  top: 80px;
}

#slash{
  width: 20px;
  position: relative;
  left:-5px;
  top: 81px;
}

#next{
  width: 30px;
  position: relative;
  left:-8px;
  top: 78.1px;
}



#main{
  position:relative;
  top: 60px;
}

#sub{
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 2.5em;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 30px;
  left: 135px;
}

#simpnav{
  position: relative;
  top: 40px;
}

#둘러보다{
  width:600px;
  height: 600px;
  background: url(둘러보다1.jpeg);
  background-size: cover;
  position: relative;
  left: 250px;
  top: 32px;
}

#flower{
  width:400px;
  height: 600px;
  background: url(flower1.jpg);
  background-size: cover;
  position: relative;
  left: 250px;
  top: 50px;
}
@media(max-width:600px) {
  .img01{
    position: relative;
    left: 200px;

  }
}


ul ul {display: none;}
ul li:hover > ul {display: block;}

li:hover{
  font-style: italic;
}

.first:hover{
  color: black;
}

.second:hover{
  color: black;
}

.third:hover{
  color: black;
}
